*{
    background-color: rgb(236,230,230);
}
div{
    
    display: inline-block;
}
#pocha{
    background-color: white;
    padding:35px 35px 35px 35px;
    margin:70px auto;
    /* ai vaba margin use korta pari */
    /* margin:70px 40px 40px 90px; */
    border-radius:6px ;
    
}
#pochaa{
background-color: white;
color:black;
font-size: 25px;
}
#minuu{
    background-color: white;
    color:black;
    font-size: 25px;
    }
#button1{
    background-color: blue;
    color:white;
    padding: 6px 143px 6px 143px;
}
#button1:hover{
    background-color: deepskyblue;
}
a{
    background-color: inherit;
}
button2:hover{
    background-color: green;
}
#anchor{
    text-decoration: none;
    margin-left: 58px;
    font-size: 23px;
    
}
#button2{
    margin: 0px 0px 0px 78px;
    background-color: rgb(18,221,35);
    color:white;
    padding:5px;
    border-radius: 2px;
    border:none;
    font-size: 17px;
}
h1{
    color: #1b74e4;
    font-family: Georgia;
}
p{
font-weight: bold;
font-size:25px ;
}
#soham{
    padding: 0px 0px 220px 150px ;
    
}
#inner{
    height:25px
}
